@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap');

*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{    
    font-family: 'Poppins', sans-serif;
    background-color:black;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.encabezado{
    width: 100%;
    height: 70px;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-rows: 70px 1fr;
    color: #fff;
    background-color:black;
    border: 0.5px solid white;
}
.nav{
    width: 90%;
    margin: auto;
    --padding-container: 0;
    height: 50px;
    display: flex;
    align-items: center;

}
.nav__links{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    gap: 2em;
}
.nav__link{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.nav__link:hover{
    color: #d40733;
}
/*................................................*/
.botondiv{
    padding: 20px;
    height: 25px;
}
.boton{
    width: 200px;
    height: 30px;

    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    color: #fff;  
}
.boton:hover{
    border: none;
    background-color: #d40733;    
}
.h-full {
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contenedor1{
   position: absolute;
   width: 900px;
   display: flex;
   justify-content: center;
   align-items: center;

   border: 0.5px solid white;

   border-radius: 50px;
   margin: 50px auto;
   

   overflow: hidden;
   transition: height 0.5s ease-in-out;
   height: 0;

   background-image: url('/resource/images/fondo.gif');
   background-size: cover;

}
.tarjeta{
    width: 100%;
    height: 100%;
    display: none;
    
}
.tarjeta1{
    /* background-color: #d40733; */
}
.tarjeta2{
    background-color: aquamarine;
}
.tarjeta3{
    background-color: #d49d07;
}
.tarjeta4{
    background-color: rgb(14, 255, 1);
}
.tarjeta5{
    background-color: #2607d4;
}
.btn{
    width: 50px;
    height: 200px;

    position: absolute;
    border-radius: 5px;
    border: none;

    border: 1.5px solid #fff;
    color: #ffffff;
    background-color: black;
    display: none;
}
.btn:hover{
    background-color: #d40733;
}
.botonR{
    right: 20px;
}
.botonL{
    left: 20px;
}



