@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap');

*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;

    display: grid;
  place-items: center;
}

.encabezado{
    width: 100%;
    height: 75px;
    align-items: center;
    display: grid;
    grid-template-rows: 70px 1fr;
    color: #fff;
    background-color:rgba(0, 0, 0, 0);

    top: 0;
    position: fixed;
    transition: background-color 0.4s ease-in-out;
    z-index: 1; 
}
.encabezado.scrolled{
    background-color: black;
    opacity: 0.98;
}
.nav{
    width: 90%;
    margin: auto;
    --padding-container: 0;
    height: 50px;
    display: flex;
    align-items: center;

}
.nav__links{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    gap: 2em;
}
.nav__link{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.nav__link:hover{
    color: #d40733;
}
.logoKinal{
    width: 170px;
}
/* ................................................................ */
.contenedorPrincipal{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, #0000008c 100%, #00000059 0%), url('/resource/images/kinalFondo.png');
    background-size: cover;
}
.donar{
    position: fixed;
    height: 45px;
    width: 120px;
    bottom: 30px;
    right: 30px;

    background-color: black;
    border: 1px solid white;
    border-radius: 25px;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
}
.donarImg{
    height: 17px;
    margin: 3px;
}
/* ................................................................. */
.contenedorA{
    background-color: rgb(0, 0, 0);
    width: 800px;
    height: 200px;

    display: flex;
    justify-content: center;
    padding: 20px;

    text-align: center;
    color: white;

    display: grid;
    place-items: center;
}
.trabajoBienHecho{
    width: 350px;
    height: 53.2px;
}
.contenedorB{
    margin: 30px;
    background-color: black;
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 300px;
    height: 350px;
    margin: 30px;

    border-radius: 20px;
    position: relative;
}
.c1{
    background-color: #DB1948;
}
.c2{
    background-color: #7ED957;
}
.c3{
    background-color: #FFCB10;
}
.persona1{
    height: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.persona2{
    height: 370px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.persona3{
    height: 425px;
    position: absolute;
    right: 0;
    bottom: -1px;
}
.contenedor{
    margin: 30px;
    background-color: black;
    width: 100%;
    height: 400px;

    border-radius: 10px;
    border: 1px solid white;
}
.footer{
    width: 100%;
    height: 200px;
    padding: 40px;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-top: 2px solid white; 
}

.ft1{
    width: 40%;
    text-align: center;
}
.ft3{
    width: 40%;
    text-align: center;
    padding: 20px;
}
.ftImg{
    width: 300px;
}
.derechos{
    width: 100%;
    height: 40px;
    text-align: center;
    color: #5a5454;
    padding: 25px;
}