@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,600&display=swap');

*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{    
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, rgba(63,177,251,1) 45%, rgba(72,0,255,1) 100%);
    text-align: center;

    
}
.container{
    width: 90%;
    margin: auto;
}
.contenedorSA{
    width: 100%;
    height: 75vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado{
    width: 100%;
    height: 75px;
    align-items: center;
    display: grid;
    grid-template-rows: 70px 1fr;
    color: #fff;
    background-color: black;

    top: 0;
    position: sticky;
    transition: background-color 0.4s ease-in-out;
    z-index: 1; 

    border-bottom: 1px solid white;
}
.nav{
    width: 90%;
    margin: auto;
    --padding-container: 0;
    height: 50px;
    display: flex;
    align-items: center;

}
.nav__links{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    gap: 2em;
}
.nav__link{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.nav__link:hover{
    color: #d40733;
}
/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
.seccionA{
    width: 800px; 
    height: 370px; 
    position: relative;

    bottom: 50px;
}
.seccionA .face{
    width: 100%;
    height: 100%;
    
    position: absolute;
    backface-visibility: hidden;

    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    background-color: #00000046;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #fff;

    border: 1px; 
    border-radius: 10px;
    margin: 50px auto;
    padding: 50px;
    transition: .5s;
}
.seccionA .front{
    transform: perspective(600px) rotateX(0deg);
    display: flex;
    text-align: left;
}
.seccionA .back{
    transform: perspective(600px) rotateX(180deg);
    
}
.seccionA:hover .front{
    transform: perspective(600px) rotateX(180deg);
}
.seccionA:hover .back{
    transform: perspective(600px) rotateX(360deg);
}

.imagen {
    flex-shrink: 0; /* evita que la imagen afecte al tamaño del contenedor */
    margin-right: 20px; 
}

.imagen img {
    width: 250px; 
    height: auto; 
}
.contenido {
    color: #fff;
    text-align: center;
    flex: 1;
    padding: 20px; 
}
.correo{
    color: #ffffff58;
}
/*BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/

.seccionB{
    text-align: center;
    color: #fff;
    background-color:   black;
    
    width: 100%;
    height: 450px;
    border: 1px;
    text-align: center;

    padding: 10px;

    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;


}

.about__paragraph{
    line-height: 1.7; 
}

.about__main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 10px;
}

.about__icon{
    width: 40px;

}
/*CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC*/
.seccionC {
    color: #fff;
    width: 100%; 
    height: 1400px; 
    border: 1px; 
    text-align: center;

    background-color: black;
    margin: 50px auto;
    padding: 50px;
}

.proyecto{
    text-align: left; 
    margin: 20px auto;
    padding: 20px;


    border-top: 1px solid white;
}
.imagenes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.imagenes img {
    width: 30%; 
    border-radius: 5px;
    transition: filter 0.3s ease;
}
.imagenes img:hover {
    filter: brightness(50%); /* reduce el brillo al 80% cuando el ratón está sobre la imagen */
}

/*DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD*/
.seccionD {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    color: #fff;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;

    border: 1px solid white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: black;
}

input, textarea {
    background-color: black;
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 8px;
    width: 100%;
}

button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(215, 45, 45);
}

.boton{
    padding: 10px 20px;
    background-color: #000000; 
    color: rgb(255, 255, 255); 
    cursor: pointer;
    margin: 10px;
    border-radius: 8px;

    border: 1px solid white;
    z-index: 1; 
}
.boton:hover{
    background-color: #d40733;
}

.derechos{
    width: 100%;
    height: 50px;

    margin-top: 25px;
    padding-top: 10px;

    text-align: center;
    color: white;
    background-color: black;

    border-top: 1px solid white;
}